<h1 style="text-align:center;"><a href="https://www.kaggle.com/datasets/ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training">Dataset 1 (cafe)</a></h1>

Group Number: #127
<br>
Names: Alex Oprea, Kristen Duong
<br>
Student Numbers: 300230368, 300240425

# INTRODUCTION

This notebook contains 10 different “Clean Data Checker” tests. Using the Cafe Sales Dirty Data for Cleaning Training dataset,  we will evaluate a given test attribute and validate whether its data points are valid or invalid; flagging invalid data points. 

To use this notebook, the user will input a test_attribtue chosen from the attributes array given in Cell 2. For some tests, the user will also be required to enter a parameter. Once Cell 2 has been ran, the user will then run Cell 3 to check for invalid data, and finally, run Cell 4 to output the results of the test completed.

# DESCRIPTION

<i>Dataset name:</i> Cafe Sales - Dirty Data for Cleaning Training
<br>
<i>Author:</i> Ahmed Mohamed
<br>
<i>Purpose:</i> At face value, this dataset seems to be for recording transactions at cafes, potentially for analysis of the success of the coffee industry, an analysis of which items/purchase methods are most popular or even an estimate on how much people spend at cafes. However, the true purpose of this dataset is for the training of data cleaning. It purposefully has messed up values and columns for people to test their detection and cleaning skils. It is unclear though if the data that was not messed with is valid. Therefore, to our knowledge, this dataset could be used for both purposes.
<br>
<i>Domain:</i> Food and Beverage Industry, Data Science
<br>
<i>Audience:</i> Cafe Shop Owners, people teaching Data Science, students learning Data Science
<br>
<i>Shape:</i> 10,010 rows, 8 columns

<i>Categorical Attributes:</i>
- Transaction ID: Each transaction has an assigned unique identifier.
- Item: Name of purchased item.
- Payment Method: The type of payment used for the purchase.
- Location: The place where the transaction took place.

<i>Numerical Attributes:</i>
- Quantity: The number of items bought in the transaction
- Price Per Unit: The cost of an individual item.
- Total Spent: The overall amount paid for the transaction
- Transaction Date: The recorded date of the purchase.

# SET UP

In [8]:
# Import libraries
import pandas as pd
import math
import numpy as np

# import date
from datetime import datetime
#to verify dates
from dateutil.parser import parse

# load csv files from github
cafe = pd.read_csv('https://raw.githubusercontent.com/kkristene3/CSI4142_Datasets/refs/heads/main/dirty_cafe_sales.csv')

In [5]:
#Helper methods that we use throughout our code:

#Function to print examples of errors
def printEx(rowIndices):
    print("Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date")
    for i in rowIndices:
        print(cafe.loc[i, 'Transaction ID'], "/", cafe.loc[i, 'Item'], "/", cafe.loc[i, 'Quantity'], "/", cafe.loc[i, 'Price Per Unit'], "/", cafe.loc[i, 'Total Spent'], "/", cafe.loc[i, 'Payment Method'], "/", cafe.loc[i, 'Location'], "/", cafe.loc[i, 'Transaction Date'])

#function to check if the given column name matches with the actual column names of the dataset
def verifyColumn(column):
    if column != "Transaction ID" and column != "Item" and column != "Quantity" and column != "Price Per Unit" and column != "Total Spent" and column != "Payment Method" and column != "Location" and column != "Transaction Date":
        return False
    else:
        return True

## Data Type Errors
To make data useable and consistent, columns are usually assigned data types that every instance must follow. Data type errors refer to inputs that are the wrong data type. For example, columns expecting numerical data (like float64) should only contain numbers, while boolean columns should only contain True or False. This test will check selected columns to verify that all of its rows contain data of the correct data type. If not, this data instance is flagged as erroneous. The chosen column and data type will be offered by the user.

For this test, the accepted data types that can be verified are string (any text - no empty), float64 (digits with or without decimal points), and date (needs a year-month-date). Typically, boolean would be part of the type check too (True/False), but the chosen dataset doesn't have any booleans.

In [206]:

#String variable to input Data Type:
#Here are the allowed options:
datatypeOptions = ["float64", "string", "date"]
#Insert your chosen one here
datatype = "float64"

#The code would take any columns from the dataset, but here are the columns that have the most defined datatypes:
recommendedColumns = ["Quantity", "Price Per Unit", "Total Spent", "Location", "Transaction Date"]
#Data column:
column = "Price Per Unit"
 
if not verifyColumn(column):
    print("The inserted value for column is invalid. Please verify and try again")

#then we want to make sure we are only given expected datatypes
if datatype not in datatypeOptions:  
        print("The inserted value for datatype is invalid. Please verify and try again")

In [207]:
#Cell 3: Checker code
#Arrays to store type errors as we find them
errors = []
rows = []
        
#Arrays to store the specific errors we want to report on
finalErrors = []
finalIndices = []
        
#Array of dates
        
for index, row in cafe.iterrows():
    if not isinstance(row[column], str):
            errors.append(row[column])
            rows.append(index)
    else:   
        try:
            float(row[column])
            if datatype == "date":
                errors.append(row[column])
                rows.append(index)
        except ValueError:
            if datatype == "float64":
                errors.append(row[column])
                rows.append(index);
            elif datatype == "date":
                for dt in dates:
                    try:
                        parse(row[column])
                    except ValueError:
                        errors.append(row[column])
                        rows.append(index)
            
for (i, j) in zip(errors, rows):
    if i not in finalErrors:
        finalErrors.append(i)
        finalIndices.append(j)

In [208]:
#Cell 4: Findings Report

if len(finalErrors) == 0:
    print("There are no type errors of type '", datatype, "' in column '", column, "'")
        
#We only want to go into detail if there is aren't a lot of different errors
elif len(finalErrors) < 6:
    print("In the test on column '", column, "' for datatype", datatype, ", there are", len(errors), "incorrectly typed rows")
    print("Amongst these errors, we discovered", len(finalErrors), "repeating.")
            
    a = 1
    for (i, j) in zip(finalErrors, finalIndices):
        print("\n", a, ":", i)
        print("This type error was repeated a total of", errors.count(i), "times. An example of this incorrect type is row", j, ":")
        toSend = [j]
        printEx(toSend)
        a+=1
        
else:
    print("In the test on column '", column, "' for datatype '", datatype, "', there are", len(errors), "incorrectly typed rows")
    print("Here are some examples:")
    printEx(finalIndices[:5])

In the test on column ' Price Per Unit ' for datatype float64 , there are 533 incorrectly typed rows
Amongst these errors, we discovered 3 repeating.

 1 : nan
This type error was repeated a total of 179 times. An example of this incorrect type is row 66 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_3578141 / Cake / 5 / nan / 15.0 / nan / Takeaway / 2023-06-27

 2 : ERROR
This type error was repeated a total of 190 times. An example of this incorrect type is row 78 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_8427104 / Salad / 2 / ERROR / 10.0 / nan / In-store / 2023-10-27

 3 : UNKNOWN
This type error was repeated a total of 164 times. An example of this incorrect type is row 150 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_2484241 / Cake / 3 / UNKNOWN / 9.0 / Digital Wallet / nan / 2023-07-19

## Range Errors

This test will verify the range of a numerical attribute chosen by the user. Any values outside the minimum or maximum (i.e. the range), will be considered invalid. Values with a non-numeric value (ex. ERROR, UNKOWN, or blank) are counted separately as they are string values and their value cannot be concretely determined to be inside or outside the range.

In [209]:
# ------------------------------------------------------ HELPER METHODS ------------------------------------------------------

# validate date format
def isValidDate(date_str):
    try:
        datetime.strptime(date_str, "%Y-%m-%d")
        return True
    except ValueError:
        return False
        
# validate that input is a numeric number
def checkStrNum(min_str, max_str):
   try:
       float(min_str)
       float(max_str)
       return True
   except ValueError:
       print("Invalid number! Please enter a valid numeric value.")
       return False

# validate min is less than max value
def checkMinMax (minValue, maxValue):
    return float(minValue) < float(maxValue)

# validate min is less than max value (dates)
def checkMinMaxDate(minValue, maxValue):
    try:
        min_date = datetime.strptime(minValue, "%Y-%m-%d")
        max_date = datetime.strptime(maxValue, "%Y-%m-%d")
        return min_date < max_date
    except ValueError:
        return False 
    
# ----------------------------------------------------------- INPUTS -----------------------------------------------------------
# Please enter the various attributes below to perform the test

numeric_attributes = ['Quantity', 'Price Per Unit', 'Total Spent', 'Transaction Date']

# attribute selection (select an attribute from the array)
attribute = 'Transaction Date'

# minimum (ex. Aug 7, 2023)
minimum = "2023-08-07"

# maximum (ex. Oct 28, 2023)
maximum = "2023-10-28"

# -------------------------------------------------------- ERROR MESSAGES --------------------------------------------------------
# handle validation check for inputs given

# attribute: quantity or price per unit
if attribute == 'Quantity' or attribute == 'Price Per Unit' or attribute == 'Total Spent':
    if checkStrNum(minimum, maximum):  # Ensure both are numbers
        min_num = float(minimum)
        max_num = float(maximum)

        # compare min and max values
        if not checkMinMax(minimum, maximum):
            print("Minimum is not less than maximum!")

# attribute: transaction date
elif attribute == 'Transaction Date':
    # check formatting
    if not isValidDate(minimum):
        print("Minimum date not accepted! Please enter in format: yyyy-mm-dd.")
    if not isValidDate(maximum):
        print("Maximum date not accepted! Please enter in format: yyyy-mm-dd.")
    if not checkMinMaxDate(minimum, maximum):
        print("Minimum is not less than maximum!")

else:
    print("Please select a valid attribute. See array numeric_attributes.")

In [210]:
# CELL 3 - CHECKER CODE
belowMin = 0
aboveMax = 0
none = 0

# get index of the last row with a possible error
exampleMin = []
exampleMax = []


# quantity attribute chosen
if attribute == 'Quantity':
    # check
    for i in range(len(cafe['Quantity'])):
        try: 
            if int(float(cafe.loc[i, 'Quantity'])) < minimum:
                belowMin += 1
                exampleMin.append(i)
            elif int(float(cafe.loc[i, 'Quantity'])) > maximum:
                aboveMax += 1
                exampleMax.append(i)
        except ValueError: # if can't convert, then possible error
            none += 1
                
# price per unit attribute chosen or total spent attribute chosen       
elif (attribute == 'Price Per Unit') or (attribute == 'Total Spent'):
    # check
    for i in range (len(cafe[attribute])) :
        try:
            if float(cafe.loc[i, attribute]) < minimum:
                belowMin += 1
                exampleMin.append(i)
            elif float(cafe.loc[i, attribute]) > maximum:
                aboveMax += 1
                exampleMax.append(i)
        except ValueError: # if can't convert, then possible error
            none += 1

# transaction date chosen
else:
    # convert values to date objects
    minDate = datetime.strptime(minimum, "%Y-%m-%d").date()
    maxDate = datetime.strptime(maximum, "%Y-%m-%d").date()

    
    # check dates
    for i in range(len(cafe['Transaction Date'])):
        try:
            date = datetime.strptime(str(cafe.loc[i, 'Transaction Date']), "%Y-%m-%d").date()
    
            if date < minDate:
                belowMin += 1
                exampleMin.append(i)
            elif date > maxDate:
                aboveMax += 1
                exampleMax.append(i)
        except ValueError:
            none += 1

In [211]:
# CELL 4 - REPORT OF FINDINGS

# HELPER METHODS
def printMsgRange (attribute):
    if (attribute == 'Price Per Unit' or attribute == 'Total Spent'):
        print ("There are", belowMin, "data points with a", attribute, "of less than $" +  str(minimum) + ",", aboveMax, 
           "data points with a", attribute, "over $" + str(maximum) + " and " + str(none) + " data points that are non-numeric. See for example the following 2 rows:\n")
    else:
        print ("There are", belowMin, "data points with a", attribute, "of less than", minimum + ",", aboveMax, 
           "data points with a", attribute, "over " + str(maximum) + " and " + str(none) + " data points that are non-numeric. See for example the following 2 rows:\n")  

# print 
printMsgRange(attribute)

# final print messages
print("- Transaction ID / Quantity / Price Per Unit / Total Spent / Transaction Date")

# no values found below min
if not belowMin: 
    print ("- No values found below", minimum)
else:
    print("-", cafe.loc[exampleMin[0], 'Transaction ID'], "/", cafe.loc[exampleMin[0], 'Quantity'], "/", cafe.loc[exampleMin[0], 'Price Per Unit'],
         "/", cafe.loc[exampleMin[0], 'Total Spent'], "/", cafe.loc[exampleMin[0], 'Transaction Date'] )
# no values found above max
if not aboveMax: 
    print ("- No values found above max")
else:
    print("-", cafe.loc[exampleMax[0], 'Transaction ID'], "/", cafe.loc[exampleMax[0], 'Quantity'], "/", cafe.loc[exampleMax[0], 'Price Per Unit'],
         "/", cafe.loc[exampleMax[0], 'Total Spent'], "/", cafe.loc[exampleMax[0], 'Transaction Date'] )

There are 5688 data points with a Transaction Date of less than 2023-08-07, 1654 data points with a Transaction Date over 2023-10-28 and 460 data points that are non-numeric. See for example the following 2 rows:

- Transaction ID / Quantity / Price Per Unit / Total Spent / Transaction Date
- TXN_0000001 / 2 / 3 / 6 / 2023-08-03
- TXN_2064365 / 5 / 4.0 / 20.0 / 2023-12-31

## Format Errors
Data types often come with formatting rules to keep data consistent. For example, dates may be in a YYYY-MM-DD format, or a float64 column may expect only 2 decimal points. Format errors are any data that doesn't adhere to the formatting rules of its column. This test will take a column and a format structure from the user, outlining any data instance that doesn't follow the given format as an error.

In [236]:
#Cell 2: Parameters for the checker

#In this dataset, there are only 2 columns that seem to expect a format: Transaction ID and Transaction Date
#We will be verifying those two formats:
formatOptions = ["TXN_#######", "YYYY-MM-DD"]

#Please select one of the two formats from above:
formatC = "YYYY-MM-DD"

#The column option array only shows the recommended columns (the ones that actually apply the formats), but any column from the dataset could be selected
columnOptions = ["Transaction ID", "Transaction Date"]

#Please select a column here:
column = "Transaction Date"

#Making sure given attributes are valid
if not formatC in formatOptions:
    print("Chosen format is invalid. Please verify and try again.")
if not verifyColumn(column):
    print("Chosen column in invalid. Please verify and try again.")

In [237]:
#Cell 3: Checker Code

#Arrays to store type errors as we find them
errors = []
errorsIndex = []

#start by iterating through all the rows
for index, row in cafe.iterrows():
    #for both formats, nan is an error
    if not isinstance(row[column], str):
        errors.append(row[column])
        errorsIndex.append(index)
    else:
        #we start by checking the ID format
        if formatC == "TXN_#######":
            #if it's the wrong length, we know the format is wrong
            if len(row[column]) != 11:
                errors.append(row[column])
                errorsIndex.append(index)
            #we want to make sure the first four letters are TXN-
            elif row[column][0:4] != "TXN_":
                errors.append(row[column])
                errorsIndex.append(index)
            #The rest of the ID should all be numbers
            elif not row[column][4].isnumeric():
                errors.append(row[column])
                errorsIndex.append(index)
        #moving on to the expected date format
        elif formatC == "YYYY-MM-DD":
            #wrong length = wrong format
            if len(row[column]) != 10:
                errors.append(row[column])
                errorsIndex.append(index)
            #we need to make sure all the date characters are digits
            elif not row[column][0:4].isnumeric() or not row[column][5:7].isnumeric() or not row[column][8].isnumeric():
                errors.append(row[column])
                errorsIndex.append(index)
            #the other spots in the format should all be -
            elif row[column][4:5] != '-' or row[column][7:8] != '-':
                errors.append(row[column])
                errorsIndex.append(index)
            #we want to follow the year, month and day rules
            elif not int(row[column][0:4])<2030 or not int(row[column][5:7])<=12 or not int(row[column][8])<=31:
                errors.append(row[column])
                errorsIndex.append(index)

In [239]:
#Cell 4: Report
finalErrors = []
finalIndices = []

#Make a list of the common length errors and one row instance
for (i, j) in zip(errors, errorsIndex):
    if not i in finalErrors:
        finalErrors.append(i)
        finalIndices.append(j)

if len(finalErrors) == 0:
    print("There were no formatting errors discovered in column '" + column + "' for format", formatC)

#We only want to go into detail if there is aren't a lot of different errors
elif len(finalErrors) < 6:
    print("In the test on column '" + column + "' for format", formatC + ", there are", len(errors), "incorrect values")
    print("Amongst these errors, we discovered", len(finalErrors), "repeating.")
            
    a = 1
    for (i, j) in zip(finalErrors, finalIndices):
        if isinstance(i, str):
            print("\n", a, ":", i)
        else:
            print("\n", a, ":", i)
        print("This type error was repeated a total of", errors.count(i), "times. An example of this incorrect type is row", j, ":")
        toSend = [j]
        printEx(toSend)
        a+=1
        
#There are too many errors for specificity, we will just give error examples
else:
    print("In the test on column '" + column + "' for format", formatC + ", there are", len(errors), "incorrect values")
    print("Here are some examples:")
    printEx(finalIndices[:5])

In the test on column 'Transaction Date' for format YYYY-MM-DD, there are 460 incorrect values
Amongst these errors, we discovered 3 repeating.

 1 : ERROR
This type error was repeated a total of 142 times. An example of this incorrect type is row 21 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_3051279 / Sandwich / 2 / 4.0 / 8.0 / Credit Card / Takeaway / ERROR

 2 : nan
This type error was repeated a total of 159 times. An example of this incorrect type is row 87 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_2091733 / Salad / 1 / 5.0 / 5.0 / nan / In-store / nan

 3 : UNKNOWN
This type error was repeated a total of 159 times. An example of this incorrect type is row 125 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_1001832 / Salad / 2 / 5.0 / 10.0 / Cash / Takeaway / UNKNOWN

## Consistency Errors

This test will verify that the data entered for the Price Per Unit attribute is consistent with the Item attribute it is related to. It will compare the chosen item category with the price per unit value. Any price-per-unit value that does not align with the item category will be marked as invalid. 

Note that for any price per unit data points with a non-numeric value (ex. 'ERROR, 'UNKNOWN' or left empty), they will be counted as invalid as well but will be counted separately compared to cells with a value in it.

For this check, 10 rows with errors were purposely added because no consistency errors with an incorrect price (other than non-numeric values) were found in the original dataset.

Correct Pricing for Items Are:

- Coffee: $2

- Cake: $3

- Cookie: $1

- Salad: $5

- Smoothie: $4

- Sandwich: $4

- Juice: $3

In [215]:
# CELL 2 - PARAMETERS FOR THE CHECKER

# ----------------------------------------------------------- INPUTS -----------------------------------------------------------
# Please enter the various attributes below to perform the test

attributes = ['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'Sandwich', 'Juice', 'Tea']

# attribute selection (select an attribute from the array)
test_attribute = 'Coffee'

# validate that test attribute chosen is allowed
if not test_attribute in attributes:
    print("Please select a valid item from the attributes array!")

In [216]:
# CELL 3 - CHECKER CODE

# placeholders
count = 0
indexes = [];
none = 0

# ------------------------------------------------------ HELPER METHODS ------------------------------------------------------
# helper method to count values not the proper price
def countInvalid(attribute, priceOfItem, correctPrice):
    if cafe.loc[i, 'Item'] == attribute and priceOfItem != correctPrice:
        return True
    return False

# ---------------------------------------------------------- CHECKER ----------------------------------------------------------
# loop through all values in price per unit and compare that to the item
for i in range (len(cafe['Item'])):
   
    # get price of item
    price = cafe.loc[i, 'Price Per Unit']

    # if its a non-numeric, skip
    if pd.isna(price) or price in ["", "ERROR", "UNKNOWN"]:
        none += 1
        continue

    # convert price to a float
    try:
        price = float(price)
    except ValueError:
        none += 1
        continue

    # check if the price per unit correctly matches the item
    if test_attribute == 'Coffee':
        if cafe.loc[i, 'Item'] == test_attribute and price != 2:
            count += 1
            indexes.append(i)
    if test_attribute == 'Cake':
        if cafe.loc[i, 'Item'] == test_attribute and price != 3:
            count += 1
            indexes.append(i)
    elif test_attribute == 'Cookie':
        if cafe.loc[i, 'Item'] == test_attribute and price != 1:
            count += 1
            indexes.append(i)
    elif test_attribute == 'Salad':
        if cafe.loc[i, 'Item'] == test_attribute and price != 5:
            count += 1
            indexes.append(i)
    elif test_attribute == 'Smoothie':
        if cafe.loc[i, 'Item'] == test_attribute and price != 4:
            count += 1
            indexes.append(i)
    elif test_attribute == 'Sandwich':
        if cafe.loc[i, 'Item'] == test_attribute and price != 4:
            count += 1
            indexes.append(i)
    elif test_attribute == 'Juice':
        if cafe.loc[i, 'Item'] == test_attribute and price != 3:
            count += 1
            indexes.append(i)
    elif test_attribute == 'Tea':
        if cafe.loc[i, 'Item'] == test_attribute and price != 1.5:
            count += 1
            indexes.append(i)

In [217]:
# CELL 4 - REPORT OF FINDINGS

# HELPER METHODS
def printMsgConsistency (attribute):
    print ("There are " + str(count) + " data point(s) with an incorrect price per unit for " + attribute + ". There are " + str(none) + 
           " data points with non-numeric values. See for example the following row(s):\n")

# print 
printMsgConsistency(test_attribute)

# final print messages
print("- Transaction ID / Item / Price Per Unit / Total Spent / Transaction Date")

# loop through index array and output the rows with the invalid data
for index in indexes:
    print("-", cafe.loc[index, 'Transaction ID'], "/", cafe.loc[index, 'Item'], "/", cafe.loc[index, 'Price Per Unit'],
         "/", cafe.loc[index, 'Total Spent'], "/", cafe.loc[index, 'Transaction Date'] )

There are 2 data point(s) with an incorrect price per unit for Coffee. There are 533 data points with non-numeric values. See for example the following row(s):

- Transaction ID / Item / Price Per Unit / Total Spent / Transaction Date
- TXN_0000001 / Coffee / 3 / 6 / 2023-08-03
- TXN_0000009 / Coffee / 4 / 12 / 2023-08-03

## Uniqueness Errors
Some columns are expected to have entirely unique values, meaning that no data instance is repeated. For this test, the user will select a column and the code will ensure that no value in that column is entered more than once.

In [218]:
#Cell 2: Parameters for the checker

#Please enter the column you would like to verify
#Here are the options:
columnOptions = ["Transaction ID", "Item", "Quantity", "Price Per Unit", "Total Spent", "Payment Method", "Location", "Transaction Date"]
#Choose one of the columns here:
column = "Quantity"

if not verifyColumn(column):
    print("The given column attribute is not valid. Please verify in the attributes cell");

In [219]:
#Cell 3: Checker code

noDuplicates = 0

#we want to find if there are any values that are duplicated
if cafe[column].duplicated().any():
    #Find the duplicated values
    duplicates = cafe[column][cafe[column].duplicated(keep=False)].unique()
    
    foundDuplicates = len(duplicates)
    
    #we're looking for duplicates, not blanks, so we want to ignore the nan values
    for i in duplicates:
        if not isinstance(i, str):
            foundDuplicates-=1
          
else:
    noDuplicates = 1

In [220]:
#Cell 4: Findings report

if not noDuplicates:
    #Announce how many values were found duplicated
    print(foundDuplicates, "values were found repeated in the'", column, "' column")
    
    #Show amount of duplicates
    for i in duplicates:
        if isinstance(i, str):
            #for every value in duplicates, we want to see how many times the value is duplicated
            currDup = cafe[column].value_counts().get(i, 0)
                
            #print how many times this value was duplicated
            print("\n", currDup, "instances of", i, "were found. Here is an example of two rows:")
            #find the indices of the repeated value
            dupInd = cafe.loc[cafe[column] == i].index.tolist()
            #print examples of the repitition
            printEx(dupInd[:2])

else:
    print("No duplicates were found in column '", column, "', it passes the uniqueness test")

7 values were found repeated in the' Quantity ' column

 1977 instances of 2 were found. Here is an example of two rows:
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_0000001 / Coffee / 2 / 3 / 6 / Credit Card / Takeaway / 2023-08-03
TXN_0000004 / Salad / 2 / 3 / 6 / Credit Card / Takeaway / 2023-08-03

 1866 instances of 4 were found. Here is an example of two rows:
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_0000002 / Cake / 4 / 2 / 8 / Cash / In-store / 2023-08-03
TXN_0000003 / Cookie / 4 / 3 / 12 / Credit Card / In-store / 2023-08-03

 2014 instances of 5 were found. Here is an example of two rows:
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_0000006 / Smoothie / 5 / 5 / 25 / Credit Card / In-store / 2023-08-03
TXN_2602893 / Smoothie / 5 / 4.0 / 20.0 / Credit Card / nan / 2023-03-31

 1823 instances of 1 were found. Here is an example of two rows:
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_0000007 / Sandwich / 1 / 5 / 5 / Credit Card / Takeaway / 2023-08-03
TXN_3765707 / Sandwich / 1 / 4.0 / 4.0 / nan / nan / 2023-06-10

 1851 instances of 3 were found. Here is an example of two rows:
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_0000008 / Juice / 3 / 4 / 12 / Cash / In-store / 2023-08-03
TXN_0000009 / Coffee / 3 / 4 / 12 / Credit Card / In-store / 2023-08-03

 170 instances of ERROR were found. Here is an example of two rows:
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_3522028 / Smoothie / ERROR / 4.0 / 20.0 / Cash / In-store / 2023-04-04
TXN_5522862 / Cookie / ERROR / 1.0 / 2.0 / Credit Card / Takeaway / 2023-03-19

 171 instances of UNKNOWN were found. Here is an example of two rows:
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_2080895 / Cake / UNKNOWN / 3.0 / 3.0 / Digital Wallet / In-store / 2023-04-19
TXN_6541415 / UNKNOWN / UNKNOWN / 3.0 / 12.0 / Cash / In-store / 2023-11-25

## Presence Errors

This test will verify that any mandatory fields are not left blank. The user is asked to select an attribute (from the attributes array) to perform the test on. For this check, we will assume all fields are mandatory and will flag any data fields that have a missing value.

In [221]:
# CELL 2 - PARAMETERS FOR THE CHECKER

# ----------------------------------------------------------- INPUTS -----------------------------------------------------------
# Please enter the various attributes below to perform the test

attributes = ['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent', 'Payment Method', 'Location', 'Transaction Date']

# attribute selection
test_attribute = 'Location'

# validate that test attribute chosen is allowed
if not test_attribute in attributes:
    print("Please select a valid item from the attributes array!")

In [222]:
# CELL 3 - CHECKER CODE

# Check for any missing values
count = 0 # counter
indexes = [] # array for indices with errors

# loop through data points in the column
for i in range (len(cafe[test_attribute])):
    if pd.isna(cafe.loc[i, test_attribute]): # empty cell
        count += 1
        indexes.append(i)

In [223]:
# CELL 4 - REPORT OF FINDINGS
print ("There are " + str(count) + " data point(s) with a missing value in attribute: " + test_attribute + ". \nSee for example the following 2 rows:\n")


# final print messages
print("- Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date")

# loop through index array and output the first 2 rows with the invalid data
for i in range (2):
    print("-", cafe.loc[indexes[i], 'Transaction ID'], "/", cafe.loc[indexes[i], 'Item'], "/", cafe.loc[indexes[i], 'Quantity'], "/", 
          cafe.loc[indexes[i], 'Price Per Unit'], "/", cafe.loc[indexes[i], 'Total Spent'], "/", cafe.loc[indexes[i], 'Payment Method'], "/",
          cafe.loc[indexes[i], 'Location'], "/", cafe.loc[indexes[i], 'Transaction Date'] )

There are 3265 data point(s) with a missing value in attribute: Location.
See for example the following 2 rows:

- Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
- TXN_2602893 / Smoothie / 5 / 4.0 / 20.0 / Credit Card / nan / 2023-03-31
- TXN_3765707 / Sandwich / 1 / 4.0 / 4.0 / nan / nan / 2023-06-10

## Length Errors
Columns sometimes expect all the data to have a certain number of characters. For example, a column named username could want inputs that are less than 10 characters, while another column might expect exacly 10 characters, and yet another could want more than 10 characters. A length error would be a data instance that does not adhere to the expected number of characters (like if 8 characters are inputted when 10 are expected).
This test will take a column and an expected length from the user, verifying if any inputs in that column do not follow the given length.

In [224]:
#Cell 2: Attribute setup

#First we want to select a column to review:
#Any column from the dataset can be selected:
columnOptions = ["Transaction ID", "Item", "Quantity", "Price Per Unit", "Total Spent", "Payment Method", "Location", "Transaction Date"]
#Choose an option from the array above:
column = "Payment Method"

#Next choose a mode
#We could verify if something is less than, equal or more than a specified length
modeOptions = ["less", "equal", "more"]
mode = "equal"

#Finally, choose a length
length = 4

#Checking your inputs
if not verifyColumn(column):
    print("The given column is invalid. Please verify your input and try again")
if not mode in modeOptions:
    print("The given mode is invalid. Please verify your input and try again")
if length<=0:
    print("length cannot be a negative number or 0. Please verify your input and try again")

In [225]:
#Cell 3: Checker code

#Arrays to keep track of the discovered length errors
errors = []
errorIndex = []

#loop through all the rows in the dataset
for index, row in cafe.iterrows():
    #empty cells are errors in every mode (nan is the only value that is not a string)
    if not isinstance(row[column], str):
        errors.append(row[column])
        errorIndex.append(index)
    else:
        #add errors based on mode
        if mode == "less":
            #if it's not less than the desired length, then it is added to the error array
            if not len(row[column]) < length:
                errors.append(row[column])
                errorIndex.append(index)
        elif mode == "equal":
            #same rule as above but with equals
            if not len(row[column]) == length:
                errors.append(row[column])
                errorIndex.append(index)
            #same rule as above but with more than
        elif mode == "more":
            if not len(row[column]) > length:
                errors.append(row[column])
                errorIndex.append(index)

In [226]:
#Cell 4: Results report
finalErrors = []
finalIndices = []

#Make a list of the common length errors and one row instance
for (i, j) in zip(errors, errorIndex):
    if not i in finalErrors:
        finalErrors.append(i)
        finalIndices.append(j)

if len(finalErrors) == 0:
    if mode == "equal":
        print("There were no length errors discovered in column '" + column + "'. All values were equal to", length)
    else:
        print("There were no length errors discovered in column '" + column + "'. All values were", mode, "than", length)

#We only want to go into detail if there is aren't a lot of different errors
elif len(finalErrors) < 6:
    if mode == "equal":
        print("In the test on column '" + column + "' for length equal to", str(length) + ", there are", len(errors), "incorrectly values")
        print("Amongst these errors, we discovered", len(finalErrors), "repeating.")
    else:
        print("In the test on column '" + column + "' for length", mode, "than", str(length) + ", there are", len(errors), "incorrectly values")
        print("Amongst these errors, we discovered", len(finalErrors), "repeating.")
            
    a = 1
    for (i, j) in zip(finalErrors, finalIndices):
        if isinstance(i, str):
            print("\n", a, ":", i, "(length", str(len(i)) + ")")
        else:
            print("\n", a, ":", i, "(length 0)")
        print("This type error was repeated a total of", errors.count(i), "times. An example of this incorrect type is row", j, ":")
        toSend = [j]
        printEx(toSend)
        a+=1
        
#There are too many errors for specificity, we will just give error examples
else:
    if mode == "equal":
        print("In the test on column '" + column + "' for length equal to", str(length) + ", there are", len(errors), "incorrect values")
    else:
        print("In the test on column '" + column + "' for length", mode, "than", str(length) + ", there are", len(errors), "incorrect values")
    print("Here are some examples:")
    printEx(finalIndices[:5])

In the test on column 'Payment Method' for length equal to 4, there are 7748 incorrectly values
Amongst these errors, we discovered 5 repeating.

 1 : Credit Card (length 11)
This type error was repeated a total of 2279 times. An example of this incorrect type is row 0 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_0000001 / Coffee / 2 / 3 / 6 / Credit Card / Takeaway / 2023-08-03

 2 : UNKNOWN (length 7)
This type error was repeated a total of 293 times. An example of this incorrect type is row 13 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_7034554 / Salad / 2 / 5.0 / 10.0 / UNKNOWN / UNKNOWN / 2023-04-27

 3 : Digital Wallet (length 14)
This type error was repeated a total of 2291 times. An example of this incorrect type is row 14 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_3160411 / Coffee / 2 / 2.0 / 4.0 / Digital Wallet / In-store / 2023-06-11

 4 : ERROR (length 5)
This type error was repeated a total of 306 times. An example of this incorrect type is row 16 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_4433211 / UNKNOWN / 3 / 3.0 / 9.0 / ERROR / Takeaway / 2023-10-06

 5 : nan (length 0)
This type error was repeated a total of 2579 times. An example of this incorrect type is row 18 :
Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_4717867 / nan / 5 / 3.0 / 15.0 / nan / Takeaway / 2023-07-28

## Look-up Errors

In this test, a categorical attribute will be chosen to be tested. The test will then go through all data points for the attribute and verify if the value is a valid entry. Each attribute has a limited set of values accepted, any value not in the accepted list is flagged.

Accepted Items Values: Coffee, Cake, Cookie, Salad, Juice, Smoothie, Sandwich

Accepted Payment Method Values: Credit Card, Cash, Digital Wallet

Accepted Location Values: In-store, Takeaway

In [227]:
# CELL 2 - PARAMETERS FOR THE CHECKER

# ----------------------------------------------------------- INPUTS -----------------------------------------------------------
# Please enter the various attributes below to perform the test

attributes = ['Item', 'Payment Method', 'Location']

# attribute selection (row values in chosen attribute will be validated)
test_attribute = 'Item'

# validate that test attribute chosen is allowed
if not test_attribute in attributes:
    print("Please select a valid item from the attributes array!")

In [228]:
# CELL 3 - CHECKER CODE

# Array to hold all indexes with invalid data
indexes = []

# arrays for the set of accepted values
items_accepted = ['Coffee', 'Cake', 'Cookie', 'Salad', 'Juice', 'Smoothie', 'Sandwich', 'Tea']
payment_accepted = ['Credit Card', 'Cash', 'Digital Wallet']
location_accepted = ['In-store', 'Takeaway']

# loop through data points in the column
for i in range (len(cafe[test_attribute])):
    if test_attribute == 'Item':
        if not cafe.loc[i, test_attribute] in items_accepted: # value is not an accepted item
            indexes.append(i)
    if test_attribute == 'Payment Method':
        if not cafe.loc[i, test_attribute] in payment_accepted:
            indexes.append(i)
    if test_attribute == 'Location':
        if not cafe.loc[i, test_attribute] in location_accepted:
            indexes.append(i)

In [229]:
# CELL 4 - REPORT OF FINDINGS
print ("There are " + str(len(indexes)) + " data point(s) with an unaccepted value in the attribute: " + test_attribute + ". \nSee for example the following 2 rows:\n")

# final print messages
print("- Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date")

# loop through index array and output the first 2 rows with the invalid data
for i in range (2):
    print("-", cafe.loc[indexes[i], 'Transaction ID'], "/", cafe.loc[indexes[i], 'Item'], "/", cafe.loc[indexes[i], 'Quantity'], "/", 
          cafe.loc[indexes[i], 'Price Per Unit'], "/", cafe.loc[indexes[i], 'Total Spent'], "/", cafe.loc[indexes[i], 'Payment Method'], "/",
          cafe.loc[indexes[i], 'Location'], "/", cafe.loc[indexes[i], 'Transaction Date'] )

There are 969 data point(s) with an unaccepted value in the attribute: Item.
See for example the following 2 rows:

- Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
- TXN_4433211 / UNKNOWN / 3 / 3.0 / 9.0 / ERROR / Takeaway / 2023-10-06
- TXN_4717867 / nan / 5 / 3.0 / 15.0 / nan / Takeaway / 2023-07-28

## Exact Duplicate Errors
An exact duplicate is two rows that contain the exact same data in each column. This often means redundant information and could affect analysis like counts and medians. In order to assure accurate results, exact duplicates should often be identified and removed. This test will verify if there are any exact duplicates in the given dataset; no values are needed from the user.

In [230]:
#Cell 2 - parameters for the checker
#Typically, we would check for all the values in a row to be equal to be considered an exact duplicate
#However, this dataset has no exact duplicates, so in this section, you can add and remove rows to simulate exact duplicate errors

#Here are all the rows you can check
columnOptions = ["Transaction ID", "Item", "Quantity", "Price Per Unit", "Total Spent", "Payment Method", "Location", "Transaction Date"]

#Please add or remove whichever rows you would like here:
#Default is full exact duplicate check: all columns are present
columns = ["Transaction ID", "Item", "Quantity", "Price Per Unit", "Total Spent", "Payment Method", "Location", "Transaction Date"]

#verifying that all columns are valid:
for i in columns:
    if not verifyColumn(i):
        print("Input '" + i + "' is invalid. Please verify your column array and try again")

In [231]:
#Cell 3 - checker code

#find the duplicates
duplicates = cafe[cafe.duplicated(subset=columns, keep=False)]

In [232]:
#Cell 4: Findings report:
if len(duplicates) == 0:
    print("There are no exact duplicates in the dataset for selection \n", columns)
    print("Therefore, this passes the exact duplicate test")

else:
    print ("There are " + str(len(duplicates)) + " rows that are duplicates according to the columns:\n", columns, "\n")

    # Final print messages
    print("Here are two examples:")
    print("- Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date")

    #Print 2 examples
    count = 1
    for _, group in duplicates.groupby(columns):
        print("Example", count)
        for _, row in group.head(2).iterrows():
            print(" / ".join(map(str, row.values)))
        count+=1
        if count>2:
            break

There are no exact duplicates in the dataset for selection
 ['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent', 'Payment Method', 'Location', 'Transaction Date']
Therefore, this passes the exact duplicate test

## Near Duplicate Errors

This test will check for any data records that have similar data values based on the other attributes in the array using a tolerance value.
By default, Transaction ID will always be ignored in the check because each row has a unique value for the attribute. Since it will check numerical value, any categorical attribute was not selected. The Transaction Date was also not used as we wanted to test for float values and not on a date range.

The user must select another attribute to also ignore.  A tolerance must also be provided; that will be used to determine if the other attribute values are within the given tolerance range.

In [77]:
# CELL 2 - PARAMETERS FOR THE CHECKER
# ----------------------------------------------------------- INPUTS -----------------------------------------------------------
# Please enter the various attributes below to perform the test
attributes = ['Quantity', 'Price Per Unit', 'Total Spent']

# attribute selection (this column will allow for unique values)
test_attribute = 'Quantity'

# tolerance (float value)
tolerance = 0.1

# validations
if test_attribute not in attributes:
    print("Please select a valid item from the attributes array!")

if tolerance <= 0 or tolerance > 1:
    print("Please select a tolerance above 0 but less than or equal to 1.")

In [78]:
# CELL 3 - CHECKER CODE

# HELPER FUNCTION - Check for near duplicates with tolerance for numeric columns
def near_duplicates_with_tolerance(df, attribute_cols, tolerance_chosen):
    cafe_copy = df.copy()

    # For each numeric column, apply the tolerance
    for col in attribute_cols:
        if col in cafe_copy.columns:
            # convert column values to numeric, errors become NaN
            cafe_copy[col] = pd.to_numeric(cafe_copy[col], errors='coerce')

            # fill NaN values with the median (this is to find at least one near duplicate)
            cafe_copy[col].fillna(cafe_copy[col].median(), inplace=True)

            # apply tolerance
            cafe_copy[col] = cafe_copy[col] / (1 + tolerance_chosen)

    # check for exact duplicates after applying tolerance
    return cafe_copy[cafe_copy.duplicated(keep=False)]

# columns to ignore
ignore = ['Transaction ID', test_attribute]

# columns to check
check_columns = [col for col in cafe.columns if col not in ignore]

# Ignore exact duplicates
cafe_filtered = cafe[check_columns].drop_duplicates()

# Find near duplicates
near_duplicates = near_duplicates_with_tolerance(cafe_filtered, attributes, tolerance).sort_values(by=check_columns)

# Retrieve full rows from the original DataFrame (including ignored columns)
all_near_duplicates = cafe.loc[near_duplicates.index]

In [79]:
# CELL 4 - REPORT OF FINDINGS
print ("There are " + str(len(all_near_duplicates)) + " rows that are near duplicates. Attributes " + 
       test_attribute + " and Transaction ID were treated as unique columns. A tolerance of " + str(tolerance)+ " was chosen.")

if len(all_near_duplicates) < 1:
    print("\nThere are no near duplicates given the parameters.")
else:
    print("\nSee for example the following :\n")
    
    # Final print messages
    print("- Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date")
    
    # Print first two near-duplicate rows
    for index, row in all_near_duplicates.head(4).iterrows():
        print(f"{row['Transaction ID']} / {row['Item']} / {row['Quantity']} / {row['Price Per Unit']} / {row['Total Spent']} / {row['Payment Method']} / {row['Location']} / {row['Transaction Date']}")

There are 30 rows that are near duplicates. Attributes Quantity and Transaction ID were treated as unique columns. A tolerance of 0.1 was chosen.

See for example the following :

- Transaction ID / Item / Quantity / Price Per Unit / Total Spent / Payment Method / Location / Transaction Date
TXN_1636908 / Cake / 4 / 3.0 / 12.0 / Digital Wallet / nan / 2023-10-17
TXN_4523273 / Cake / 4 / UNKNOWN / 12.0 / Digital Wallet / nan / 2023-10-17
TXN_4156369 / Cake / 5 / 3.0 / 15.0 / nan / In-store / 2023-08-07
TXN_7010020 / Cake / 5 / UNKNOWN / 15.0 / nan / In-store / 2023-08-07

# CONCLUSION

In this assignment, we performed 10 tests to verify the cleanliness and validity of a data set. We managed to identify well structured columns (like Transaction ID) and noted common errors like empty cells or "ERROR" values. We practiced our analysis skills on different types of data, selecting appropriate columns and variables for different test requirements, and tailoring our searches to more efficiently detect the errors specific to this dataset. With this assignment, we could have explored more complicated errors (even if we had to insert it ourselves). Many of the columns had the same issues (empty cells, ERROR/UNKNOWN values, etc), which often caused the same erroneous rows to be returned at each test. Overall however, the results were appropriate for the tests run and the dataset provided.

# REFERENCES

- ChatGPT:
    ```python
    # get value at a cell
    cafe.loc[i, attribute]
    # find columns to check
    columns_to_check = [col for col in cafe.columns if col not in ignore]
    # how to print the first four values in the data frame 
    for row in duplicates.head(4).itertuples(index=False):
        print(" / ".join(map(str, row)))
    # how to make uncomparable data values into NaN
    cafe_copy[col] = pd.to_numeric(cafe_copy[col], errors='coerce')
    ```
<br>

    ```python
    for _, group in duplicates.groupby(columns):
        for _, row in group.head(2).iterrows():
            print(" / ".join(map(str, row.values)))
        break
    ```

- LinkedIn:
     ```python
    # checking for near duplicates in a specific column
    duplicates = cafe.duplicated(subset=check_columns)
    ```
- StackOverflow: Converting a string to a datetime object

    - https://stackoverflow.com/questions/466345/convert-string-jun-1-2005-133pm-into-datetime